.discription-box {
    width: 100%;
    padding: 30px 150px;
}
.discription-box .discription-box-navigator {
    display: flex;
    align-items: center;
}
.discription-box .discription-box-navigator .discription-box-nav {
    width: 160px;
    height: 40px;
    border: 1px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.discription-box .description-box-description {
    border: 1px solid #747474;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
}